@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
}

.half-page-bg {
  width: 70vh;
  height: 100vh;
  background-image: url(./assets/bg/blue.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: center;
  gap: 3rem;
}

.startPage {
  text-align: left;
  margin-top: 0;
}

#intro {
  font-family: "Courier Prime Bolder", sans-serif;
  font-size: 1.8rem;
  text-align: start;
  margin: 2rem 5rem;
}

#quote {
  font-size: 1.5rem;
  font-family: "Courier Prime Bolder", Courier, monospace;
  margin: 0 5rem;
}

.centerPage {
  text-align: left;
  background-color: white;
}

.inputHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 5rem;
}

form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5rem;
}

form .user-details .input-box {
  margin: 20px 0 20px 0;
  width: calc(100% / 2 - 50px);
}

.user-details .input-box label {
  display: block;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-box input:invalid {
  border-color: red;
}

.input-box input:focus {
  border-color: blue;
}

.endPage {
  text-align: left;
}

.endPage .button {
  height: 45px;
  margin: 0 5rem 0 5rem;
}

.endPage .button input {
  height: 100%;
  width: 20%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #db277a;
}

.endPage p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  margin: 1rem 5rem;
}

.endPage #login {
  color: blue;
}

.odin-logo {
  position: absolute;
  margin-left: 220px;
  top: 20%;
  transform: translate(-50%, -50%); /* Centers logo at the specified position */
  width: 150px; /* Adjust size as needed */
  height: auto;
  z-index: 10; /* Ensures logo appears above background and form */
}

.background-trans {
  margin: 100px 0px;
  height: 210px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
}
